
__pycache__/hydrotools.cpython-37.pyc
.ipynb_checkpoints/modelbouw-checkpoint.ipynb
.ipynb_checkpoints/modeltests-checkpoint.ipynb
dhydamo.log
beheerregister/*
dfm_model/*


hydamo_shp/*
data/xlsx/principe_profielen.csv
data/bathymetrie/*
data/beheerregister/*
data/hydrologische_eenheden/*
modelbouw.py
hydamo_model/*
.ipynb_checkpoints/steenbergerloop-checkpoint.ipynb
steenbergerloop.py
modeltests.py
steenbergerloop/*
hydrologische_eenheden/*
boezemmodel/*
modellen/*
bathymetrie/*
modeltests/*
move-end-nodes/*
data/sobek_rr/*


!.gitignore
config.py

*.zip
*.pyc
afvoer.pickle
*.pickle
modeltests_web.ipynb
.ipynb_checkpoints/modeltests_web-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
