
__pycache__/hydrotools.cpython-37.pyc
.ipynb_checkpoints/modelbouw-checkpoint.ipynb
dhydamo.log
beheerregister/*
dfm_model/*

!.gitignore
hydamo_shp/*
modelbouw.py
hydamo_model/*
.ipynb_checkpoints/steenbergerloop-checkpoint.ipynb
